APIKEY = "ogxhPgSphIVa2hhxbi9oqtYwtg032io4B4-ImwddYliFWHqS0UfMEw.."
FFMPEG_CMD = "/usr/local/bin/ffmpeg"
FFPROBE = "/usr/local/bin/ffprobe"
MP4FRAGMENT = "/Users/andrew/Desktop/workspace/hbbtv/Bento4-SDK-1-3-5-541.universal-apple-macosx/bin/Release/mp4fragment"
MP4DASH = "/Users/andrew/Desktop/workspace/hbbtv/Bento4-SDK-1-3-5-541.universal-apple-macosx/utils/mp4-dash.py"
DASHOUT = "/Users/andrew/Desktop/workspace/hbbtv/output/"
DASHURL = "http://localhost/workspace/hbbtv/output/"